/*teach older browsers to render those as block elements*/
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { 
    display:block;
}

body{
  margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: arial, serif;
}

h1 {
  font-size: x-large;
  margin: 1.3em 0em 0.3em 0em;
}
h2 {
  font-size: large;
  margin: 1.2em 0em 0.7em 0.1em;
}

#logo {float:left;}

body>header {
  padding-left: 5px;
  font-size: 80%;
  background-color: #CCCCCC;
  border-bottom: red solid 2px;
}

body>header a{
  text-decoration: none;
  color: black;
  font-family: 'Tahoma', 'arial', 'serif';
}

body>header>nav{
  margin-top: 1em;
  margin-bottom: 0px;
}

body>header>nav>a{
  background-color: #FF914D;
  padding: 2px 8px;
  -moz-border-radius: 10px 10px 0px 0px / 5px 5px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px / 5px 5px 0px 0px;
  border-radius: 10px 10px 0px 0px / 5px 5px 0px 0px;
  border: red solid 2px;
  border-bottom: 0px;
  font-size: 1.1em;
}

body>header>nav>a:hover{
  background-color: #E36517;
}

body>header h1, body>header h2{
  font-family: 'Tahoma', 'arial', 'serif';
  margin: 0;
}
body>header h2 {
  font-size: larger;
  line-height: 0.8em;
  font-family: arial, serif;
}

section#content {
  margin: 1em 0.5em 1em 0.5em;
}

.multicol{
  #-moz-column-count: 3;
  -moz-column-width: 24em;
  -moz-column-gap: 20px;
  #-webkit-column-count: 3;
  -webkit-column-width: 24em;
  -webkit-column-gap: 20px;
  #column-count: 3;
  column-width: 24em;
  column-gap: 20px;
}

#pre {
  color: blue;
}

#linktable td{
  border-top: solid 1px gray;
  vertical-align: top;
}
/* commits box */
aside#commits {
  float: right;
  overflow: hidden;
  margin: 0px;
  padding: 0px 5px;
  width: 170px;
  border: solid gray 1px;
}
.rssBody > ul{
  margin: 0px;
  padding: 0px;
}

.rssRow {
  padding: 0px;
  list-style: none inside;
  font-size: x-small;
  font-family: sans-serif;
  border-bottom: dashed gray 1px;
}

#commits > h4 {margin:0px;}

/*posterous announcements*/
#rssNews {
  float:left;
  padding: 0px 0px 0px 0px;
  margin: 0px;}
#rssNews .rssRow {
  margin: 2px 0px;
  background-color:#CCCCCC;
  border-left: 3px solid gray;
  padding-left: 5px;
  font-size: 100%;
  border-bottom-width: 1px;
}

#rssNews h4 {margin:2px 0px; padding:0px;}
#rssNews * p {margin:0px; padding:0px;}
