<!--teach older browsers to render those as block elements-->
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { 
    display:block;
}

body{
  margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Walter Turncoat', arial, serif;
}

h1 {
  font-size: x-large;
  margin: 0.3em 0em 0.3em 0em;
}
h2 {
  font-size: large;
  margin: 0.2em 0em;
}

body>header {
  padding-left: 5px;
  font-size: 80%;
  background-color: #CCCCCC;
  border-bottom: red solid 2px;
}

body>header a{
  text-decoration: none;
  color: black;
}

body>header>nav{
  margin-top: 1em;
  margin-bottom: 1px;
}

body>header>nav>a{
  background-color: #FF914D;
  padding: 1px 5px;
}

body>header>nav>a:hover{
  background-color: #E36517;
}

body>header h1, body>header h2{
  margin: 0;
}
body>header h2 {
  font-size: larger;
  line-height: 0.8em;
  font-family: arial, serif;
}

section#content {
  margin: 1em 0em 1em 0.5em;
}

#linktable td{
  border-top: solid 1px gray;
  vertical-align: top;
}
/* commits box */
aside#commits_rss {
  float: right;
  overflow: hidden;
  margin: 0px;
}
/* powered by... */
aside#commits_rss > p {
  font-size: xx-small;
  vertical-align:top;
  text-align: center;
  font-family: sans-serif;
  margin-top: -15px;
}
